/* a {
  color: black;
  text-decoration: none;
  z-index: 3;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-image: url('img/products/19366.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  /* height: 100vh; */
  width: 75%;
  /* background-color: white; */
  margin: 0 auto;
}

.header {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: black;
  position: relative;
  top: 20px;
}

header a {
  color: black;
  text-decoration: none;
}

.second_header {
  width: 20%;
  height: 10px;
  position: relative;
  top: 20px;
  font-size: 15px;
  color: black;
  z-index: 2;
  /* border: 1px solid red; */
  white-space: nowrap;
}

.second_header a:nth-child(2) {
  font-weight: 900;
}

.all_services {
  position: relative;
  margin-top: 100px;

  width: 75%;
  /* height: 850px; */
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* top: 100px; */
}

.one_of_service {
  position: relative;
  width: 24%;
  height: 420px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
  text-align: center;
}

.one_of_service p {
  position: absolute;
  bottom: 0;
}

.all_productes_info {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f7f7f7; */
  top: 130px;
  height: 550px;
}

.img_main {
  position: relative;
  width: 25%;
}

.p_in_service {
  font-size: 17px;
}

.left_fotter {
  width: 60%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_fotter {
  width: 40%;
  height: 100%;
  /* border: 1px solid yellow; */
}

.info_left_fotter {
  width: 95%;
  height: 75%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.p_info_left_footer {
  color: white;
  font-size: 13px;
}

.footer {
  width: 100%;
  height: 170px;
  background-color: grey;
  position: relative;
  display: flex;
  position: relative;
  top: 450px;
}
